@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.drag-area{
  border: 2px dashed #C8C7C7;
  height: auto;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(241, 240, 240);
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.drag-area.active{
  border: 2px solid rgb(56, 3, 3);
}
.drag-area .icon{
  font-size: 30px;
  color: rgb(0, 0, 0);
}
.drag-area header{
  font-size: 15px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-align: center;
}
.drag-area span{
  font-size: 20px;
  font-weight: 500;
  color: rgb(14, 13, 13);
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #C9E891;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -5px;

}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}