*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

.width-100 {
    width: 100%;
}

.margin-right-50 {
    margin-right: 50px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-25 {
    margin-top: 70%;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.page-container {
    width: 80%;
    margin: auto;
}

.align-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-menus-and-products {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-self: center;
}

.section-menus {
    width: 20%;
    margin-right: 3%;
}

.section-products {
    background-color: #fff;
    border-radius: 10px;
    border: #c8c7c7 solid 1px;
    width: 77%;
    height: 697px;
}

.container-products {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
}

/* inicio opções de pesquisa */
.container-product-options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    height: 180px;
    width: 100%;
}

.product-options2 {
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.product-options-export-and-import {
    display: flex;
    justify-content: space-between;
    width: 84%;
}

.product-option {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.input {
    height: 40px;
    color: #a6a4a4;
    border: #c8c7c7 solid 1px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0 10px;
    font-weight: 500;
}

.a-download {
    margin-top: 2px;
    text-decoration: underline;
    cursor: pointer;
    color: #0400E0;
}

.search-bar button {
    height: 40px;
    border: none;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 40px;
    background-color: #c9e891;
    color: #604d4d;
    cursor: pointer;
}

#file {
    padding: 0 !important;
}

.btn-txt {
    height: 30px;
    border: 1px solid black !important;
    justify-content: center;
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    width: 70px !important;
    background-color: #F5F5F5 !important;
    color: #604d4d;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}
.btn-csv {
    height: 30px;
    border: 1px solid black !important;
    justify-content: center;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    width: 70px !important;
    background-color: #c9e891 !important;
    color: #604d4d;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.btn-import {
    width: 125px !important;
}

.product-option select {
    height: 40px;
    width: 150px;
    border: none;
    box-sizing: border-box;
    border: solid 1px #aeabab;
    border-radius: 10px;
    margin: 0 5% 0 0;
    border: none;
    box-sizing: border-box;
    border: solid 1px #aeabab;
    border-radius: 8px;
    text-align: center;
    color: #604d4d;
}

.all-product {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #604d4d;
    background-color: #c9e891;
    padding: 7px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

.commands {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 20px;
}

.commands button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    text-align: center;
    background-color: white;
    width: 40px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 8px;
    image-orientation: center;
}

.commands button img {
    width: 20px;
}

/* fim opções de pesquisa */

/* inicio tabela de produtos */
.products-table-header {
    margin-top: 25px;
    background-color: #ffe0de;
    width: 100%;
    padding-right: 10%;
    height: 40px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.products-table-header label {
    font-size: 18px;
    font-weight: 600;
    width: 25%;
    padding-left: 10px;
}

.products-table-body {
    width: 100%;
    height: 330px;
    overflow-y: scroll;
    border: solid 2px #f0f0f0;
    border-top: none;
    border-right: none;
}

.products-table-body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.products-table-body::-webkit-scrollbar-thumb {
    background: #ffe0de;
    border: 0.4px solid #d1cdcd;
    border-radius: 30px;
}
.products-table-body::-webkit-scrollbar-thumb:hover {
    background: #edbcb9;
}
.products-table-body::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 30px;
    box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}

/* fim tabela de produtos */

.section-products-edit {
    margin-top: 50px;
    background-color: #fff;
    border-radius: 10px;
    border: #c8c7c7 solid 1px;
    width: 100%;
    height: auto;
}

.product-edit-camp {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 18px;
    margin-top: 20px;
}

.product-edit-camp input {
    border-radius: 8px;
}

.product-edit-camp label {
    border-radius: 8px;
    font-size: 18px;
}

.product-edit-camp select {
    height: 40px;
    width: 100%;
    border: none;
    box-sizing: border-box;
    border: solid 1px #aeabab;
    border-radius: 10px;
    margin: 0 5% 0 0;
    border: none;
    box-sizing: border-box;
    border: solid 1px #aeabab;
    border-radius: 8px;
    text-align: center;
    color: #604d4d;
}

.product-edit-camp textarea {
    resize: none;
    padding: 10px;
}

.create-product-btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #604d4d;
    background-color: #c9e891;
    padding: 7px 36px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 150px;
}

.edit-product-btn {
    display: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #604d4d;
    background-color: #c9e891;
    padding: 7px 36px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 150px;
}
