.header {
    width: 100%;
    height: 100px;
    background-color: #8b68db;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    img {
        width: 88%;
    }
}

.title-site {
    display: flex;
    align-items: center;
    justify-content: center !important;
    width: 25%;
    height: 100%;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}


.title-site {
    width: 20%;
    height: 100%;
}

.container-search-bar {
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
    input {
        width: 90%;
        height: 40%;
        color: #A6A4A4;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border: none;
        border-style: none;
        outline: none;
        padding: 0 10px;
        font-weight: 500;
        outline: none;
    }
    i {
        font-size: 20px;
    }
    .search-button {
        border: none;
        height: 40px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        width: 60px;
        background-color: #C9E891;
        a:-webkit-any-link {
            color: #604D4D;
            cursor: pointer;
        }
    }
}
 
.nav-bar {
    width: 37%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    i {
        color: #fff;
    }
    ul {
        list-style: none;
        height: 100%;
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 100%;
        cursor: pointer;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

