.page-not-found-container {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
}

.page-not-found-content {
    width: 75%;
    height: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 2px 3px 5px 3px rgba(0, 0, 0, 0.1);
    Button {
        padding: 7px 20px !important;
        margin: 20px;
    }
}

.page-not-found-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #604d4d;
    h1 {
        font-size: 180px;
    }
    h3 {
        font-size: 20px;
    }
}

.page-not-found-img {
    height: 150px;
}