.products-table-row{
    margin-top: 5px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.products-table-row label{
    font-size: 18px;
    width: 25%;
    padding-left: 20px;
    overflow-x: hidden;
    white-space: nowrap;
}

.products-table-row label:last-of-type{
    padding-left: 50px; 
}

.products-table-row-buttons {
    width: 10%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.products-table-row-buttons button {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.products-table-row-buttons button:first-of-type {
     color: #4ECB71;
}
.products-table-row-buttons button:last-of-type {
    color: #F24E1E;
  }