.section-title{
    margin-top: 30px;
}

.section-product{
    margin: 20px 0px 40px 0px;
}

.container-products{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    border: solid 1px #8D8181;
    border-radius: 10px;
    padding: 35px;
}

.section-product-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 454px;
}

.div-images{
    display: flex;
    justify-content: space-between;
    width: 61%;
}

.small-images{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-product-description{
    margin-top: 30px;
    height: 354px;
}

.container-product-description{
    display: flex;
    flex-direction: column; 
}

.section-product-seller{
    margin-top: 30px;
    width: 100%;
}

.container-product-seller{
    padding: 0px 25px;
}

.container-contacts{
    height: 254px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-social-midias{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-certifications{
    margin-top: 30px;
}

.certifications{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 330px;
}

