.text-description{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    height: 365px;
}

.text-description textarea{
    resize: none;
    border: none;
    width: 100%;
}