* {
    font-family: "Roboto", sans-serif;
}

.sale-box {
    width: 100%;
    height: 300px;
    margin-top: 30px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    overflow-y: scroll;


    .sale-box-container {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 100%;
        height: 100%;

        .props-sale {
            display: flex;
            justify-content: space-around;
            margin-top: 10px;
            width: 100%;
            p {
                margin-top: 22px;
                font-size: 16px;
                font-weight: 400;
            }
    
            .p-status {
                margin-top: 22px;
                font-size: 16px;
                font-weight: 500;
                color: #b3dc68;
            }
            
            .p-status-red {
                color: red;
            }
    
            .p-status-green {
                color: #c9e891;
            }
    
            .p-status-blue {
                color: rgb(128, 128, 253);
            }
            
    
            .sale-desc {
                width: 30%;
    
                h1 {
                    font-size: 24px;
                    span {
                        color: #f6a588;
                        font-weight: 400;
                    }
                }
    
                .h4-customer {
                    margin-top: 20px;
                }
    
                h4 {
                    font-size: 20px;
                    font-weight: 200;

                }
            }
    
        }
        }
       

    .sale-desc-order {
        margin-top: 20px;
        border-top: 1px solid #c4c4c4;
        width: 100%;
        display: flex;
        justify-content: space-around;

        h3 {
            margin-top: 10px;
        }
    }
}

// Style sale-unit
.sale-desc-order-unit {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.sale-box::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.sale-box::-webkit-scrollbar-thumb {
    background: #ffe0de;
    border: 0.4px solid #d1cdcd;
    border-radius: 30px;
}
.sale-box::-webkit-scrollbar-thumb:hover {
    background: #edbcb9;
}
.sale-box::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 30px;
    box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}


