/* inicio container dados comerciais  */

.container-menu-and-seller {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-self: center;
    margin-bottom: 40px;
}

.container-menu-and-data-user-commercial{
    height: 1800px !important;
}

.container-menu-perfil-seller {
       width: 20%;
    height: 300px;
    margin: 0 5% 0 0;
    border-radius: 10px;
}

.menu-seller {
    width: 100% !important;
}

.container-menu-perfil-seller {
    width: 100%;
    margin-top: 43%;
    height: 180px;

    ul {
        list-style: none;

        li{ 
            width: 100%;
            height: 60px;
            border: #C8C7C7 solid 1px;
            display: flex;
            align-items: center;
            justify-content:center;
        }
    }

    a {
        text-decoration: none;
        color: #604D4D;
    }

    p {
        text-decoration: none;
        color: #604D4D;
    }
    
}

.radius-bottom-left-right-seller {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.title-menu-commercial {
    background-color: #FFE0DE;
}




.container-menus {
    width: 20%;
    height: 600px;
    margin: 0 5% 0 0;
    border-radius: 10px;
}
    


.container-data-user-seller{
    height: 1600px !important;

    input {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    form {
        .p-name {
            margin-top: 0;
        }
        p{
            color: black;
        }
    }
}

/* inicio container dados comerciais  */



/* inicio container certificações  */
.container-input-certification{
    width: 100%;
    height: 90px;
    margin: 3% 0;
    display: flex;
    align-items: center;
    /* background-color: red; */

    img{
        width: 80px;
    }
}

.container-label-certification {
    display: flex;
    align-items: center;
    width: 75%;
    height: 100%;;
    /* background-color: aqua; */

    label{
        margin-left: 4%;
    }
}


.container-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    /* background-color: blueviolet; */
}



.container-title-certification {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    font-size: 23px;
    font-weight: 500;
}


.container-title-certification p:nth-child(1) {
    margin-left: 11.2%;
}

.container-title-certification div:nth-child(2) {
    width: 100%;
    display: flex;
    margin: 0 10%;
    justify-content: flex-end;
}
/* fim container certificações  */

.err-sellerP {
    margin-top: 30px;
}