.sub-menu {
    background-color: #FFE0DE;
    width: 100%;
    height: 60px;
<<<<<<< HEAD
=======
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
>>>>>>> d8832fa880f58f0219423b239b5c7f8564e31c97
    
    ul {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    li {
<<<<<<< HEAD
        width: 20%;
        list-style: none;
        display: flex;
        align-items: center;
=======
        width: 10%;
        margin: 0 10px;
        list-style: none;
        display: flex;
>>>>>>> d8832fa880f58f0219423b239b5c7f8564e31c97
        justify-content: center;
    }
    
    a {
        text-decoration: none;
        color: #604D4D;
        font-weight: 600;
        padding: 0 10px;
        top: 0;
    }
    
    i {
        color: #604D4D;
    }

    .foods {
        margin: 0 0;
    }
}




