.sub-menu {
    background-color: #FFE0DE;
    width: 100%;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 85%;
        height: 100%;
    }
    
    li {
        width: 10%;
        margin: 0 10px;
        list-style: none;
        display: flex;
        width: 20%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    a {
        text-decoration: none;
        color: #604D4D;
        font-weight: 600;
        padding: 0 10px;
        top: 0;
    }
    
    i {
        color: #604D4D;
    }

    .foods {
        margin: 0 0;
    }
}





