.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 11vh;
    background-color: #FFE0DE;
    border-radius: 8px;
}

.title h1 {
    color: #604D4D;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
}