<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Seller</title>
    <link rel="stylesheet" href="../styles/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../styles/all.css">
</head>
<body>
 <!-- Inicio header -->
 <header class="header">
    <div class="container-header">
            <div class="title-site line-up"><img src="../images/logo.png" alt=""></div>

            <section class="container-search-bar line-up">
                <input placeholder="Busque seus produtos aqui" type="text">
                <div class="container-search-icon">
                    <button><i class="fas fa-search"></i></button>
                    
                </div>
            </section>

            <section class="nav-bar">
                <ul class="line-up">
                    <li class="basket">
                        <i class="fas fa-shopping-cart"></i>
                        <a href="#"> Carrinho</a>
                    </li>
                    <li class="registration">
                        <i class="fas fa-user"></i>
                        <a href="#">Perfil</a>
                    </li>
                    <li class="logoff">
                        <i class="fas fa-door-open"></i>
                        <a href="#">Sair</a> 
                    </li>
                  
                </ul>
            </section>
    </div>
</header>
<!-- fim header -->

    <!-- inicio nome usuario -->
    <div class="container-name-user line-up">
        <div class="line-up">
            <div class="name-user">João Silva</div>
            <p>
                Sua conta pessoal & comercial
            </p>
        </div>
    </div>
      <!-- fim nome usuario -->
      
    <!-- inicio titulo perfil -->
    <div class="container-title-perfil line-up">
        <div class="line-up">
            <p>Seu pefil</p>
        </div>
    </div>
     <!-- fim titulo perfil -->


       <!-- inicio container menu e dados do usuario -->
    <div class="container-menu-and-data-user line-up container-menu-and-data-user-commercial">

        <!-- inicio container que alinha card do menu e dados do usuario -->
         <div class="line-up ">
 
              <!-- inicio menu pefil usuario   -->
            <div class="container-menus"> 
                <div class="container-menu-perfil menu-seller">
                    <section>
                        <ul>
                            <li class="radius-top-left-right">
                            <p class="line-up">Minha conta</p> 
                            </li>
                            <li class="active">
                            <a href="#">Dados pessoais</a>
                            </li>
                            <li>
                                <a href="#">Endereço</a>
                            </li>
                            <li>
                                <a href="#">Segurança</a>
                            </li>
                            <li>
                            <a href="#">Pedidos</a> 
                            </li>
                            <li class="radius-bottom-left-right">
                                <a href="#">Trabalhe conosco</a>
                            </li>
                        </ul>
                    </section>
                </div>

                <div class="container-menu-perfil-seller">
                    <section>
                        <ul>
                            <li class="title-menu-commercial radius-top-left-right">
                            <p class="line-up">Comercial</p> 
                            </li>
                            <li class="active">
                            <a href="#">Produtos</a>
                            </li>
                            <li class="radius-bottom-left-right-seller">
                                <a href="#">Vendas</a>
                            </li>
                        </ul>
                    </section>
                </div>

            </div>


             <!-- fim menu pefil usuario   -->
             
             <!-- inicio container de dados do usuario comercial-->
             <div class="container-data-user container-data-user-seller">
 
                 <!-- inicio formulario de dados pessoais do usuario comercial-->
                 <div class="title-data-user">Dados comerciais</div>
                 <form action="" method="POST">
                     <div class="container-input">
                         <label for="nameCommercial">Nome Comercial</label>
                             <div>
                                 <i class="fas fa-user line-up icon-left-radius"></i>
                                 <input class="input-default " type="text" placeholder="" name="" id="nameCommercial">
                             </div>
                     </div>
                     <div class="container-input">
                         <label for="cnpj">CNPJ</label>
                             <div>
                                 <i class="far fa-id-card line-up icon-left-radius"></i>
                                 <input class="input-default " type="text" placeholder="" name="" id="cnpj">
                             </div>
                     </div>
                     <div class="container-input">
                         <label for="email">Email Comercial</label>
                             <div>
                                <i class="far fa-envelope line-up icon-left-radius"></i>
                                 <input class="input-default " type="text" placeholder="" name="" id="email">
                             </div>
                     </div>
                 </form>
                 <!-- fim formulario de dados pessoais do usuario comercial-->


                  <!-- inicio formulario de dados de contato do usuario comercial-->
                 <div class="title-data-user">Contato & Redes Sociais</div>
                 <form action="POST">
                    <div class="container-input">
                        <label for="whatsapp">WhatsApp</label>
                            <div>
                                <i class="fab fa-whatsapp line-up icon-left-radius"></i>
                                <input class="input-default " type="text" placeholder="" name="" id="whatsapp">
                            </div>
                    </div>
                    <div class="container-input">
                        <label for="Instagram">Instagram</label>
                            <div>
                                <i class="fab fa-instagram line-up icon-left-radius"></i>
                                <input class="input-default " type="text" placeholder="" name="" id="Instagram">
                            </div>
                    </div>
                    <div class="container-input">
                        <label for="facebook">Facebook</label>
                            <div>
                                <i class="fab fa-facebook-square line-up icon-left-radius"></i>
                                <input class="input-default " type="text" placeholder="" name="" id="facebook">
                            </div>
                    </div>
                 </form>
                <!-- fim formulario de dados de contato do usuario comercial-->


                <!-- inicio formulario de certificações do seller -->
                <div class="title-data-user">Certificações</div>
                 <form action="">
                    <div class="container-title-certification">
                         <p>Nome</p>
                            <div>
                                <p>Possui</p>
                            </div>
                    </div>

                    <div class="container-input-certification">
                        <div class="container-label-certification">
                            <img src="../images/certifications1.png" alt="">
                            <label for="checkCertifications1">Selo da Sociedade Vegetariana Brasileira</label>
                        </div>
                        <div class="container-checkbox">
                            <input class="input-checkbox" type="checkbox" placeholder="" name="" id="checkCertifications1">
                        </div>
                    </div>

                    <div class="container-input-certification">
                        <div class="container-label-certification">
                            <img src="../images/certifications2.png" alt="">
                            <label for="checkCertifications2">Selo The Leaping Bunny</label>
                        </div>
                        <div class="container-checkbox">
                            <input class="input-checkbox" type="checkbox" placeholder="" name="" id="checkCertifications2">
                        </div>
                    </div>
                    
                    <div class="container-input-certification">
                        <div class="container-label-certification">
                            <img src="../images/certifications3.png" alt="">
                            <label for="checkCertifications3">Selo Escolha sem Crueldade</label>
                        </div>
                        <div class="container-checkbox">
                            <input class="input-checkbox" type="checkbox" placeholder="" name="" id="checkCertifications3">
                        </div>
                    </div>

                    <div class="container-input-certification">
                        <div class="container-label-certification">
                            <img src="../images/certifications4.jpg" alt="">
                            <label for="checkCertifications4">Certificado Vegano da Organização Veganismo Brasi</label>
                        </div>
                        <div class="container-checkbox">
                            <input class="input-checkbox" type="checkbox" placeholder="" name="" id="checkCertifications4">
                        </div>
                    </div>
                    
                    <div class="container-input-certification">
                        <div class="container-label-certification">
                            <img src="../images/certifications5.png" alt="">
                            <label for="checkCertifications5">Selo da Vegan Societ</label>
                        </div>
                        <div class="container-checkbox">
                            <input class="input-checkbox" type="checkbox" placeholder="" name="" id="checkCertifications5">
                        </div>
                    </div>

                 </form>
                <!-- fim formulario de certificações do seller -->


                 
                 <div class="container-button-update-user line-up">
                     <button>Atualizar</button>
                 </div>
                  <!-- fim formulario de dadaos comerciais do usuario -->
 
             </div>
              <!-- fim container de dados do usuario comercial-->
 
         </div>
        <!-- fim container que alinha card do menu e dados do usuario -->
 
     </div>
     <!-- fim container menu e dados do usuario comercial-->


<!-- inicio footer -->
<section class="container-footer line-up">
    <div class="container-info-footer">
        <div class="container-line-great-footer line-up">
            <div class="line-great-footer line-up"></div>
        </div>    

            <div class="container-info-footer-2">
                <div class="container-logo-footer">
                    <div class="container-title-footer">
                        <img src="../images/logo.png" alt="">
                        <p>O lar do produtor vegano</p>        
                    </div>
                </div>

                <div class="container-menu-footer">

                    <ul>
                        <li>A Vegan House</li>
                        <li>Quem somos</li>
                        <li>Acesso lojistas</li>
                        <li>Seja nosso lojista</li>
                    </ul>

                    <ul>
                        <li>Redes Sociais</li>
                        <li>
                            <i class="fab fa-instagram-square"></i> 
                                    Instagram
                        </li>
                        <li>
                            <i class="fab fa-facebook-square"></i>
                                    Facebook
                        </li>   
                        <li>
                            <i class="fab fa-whatsapp-square"></i>
                                    Whatsapp
                        </li>
                    </ul>

                    <ul>
                        <li>Atendimento</li>
                        <li>
                            <i class="fas fa-phone-square-alt"></i>
                                    0800 579 0000
                        </li>
                        <li>
                                    sac@veganhouse.com
                        </li>
                    </ul>

                </div>    
            </div>
    </div>
</section>
<!-- fim footer -->
    
</body>
</html>