<!-- // class ProductPageClass extends Component {
    //     state = {
    //         error: "",
    //         productById: {},
    //         productSeler: {}
    //     };
    
    //     getProd() {
    //         productService.getProductById(6).then(list => {
    //             console.log(list)
    //             this.setState({ productById: list.data })
    //             // console.log((this.state.productById.fkUser))
    //             // console.log((parseInt(this.state.productById.fkUser)))
    //             // console.log(typeof(this.state.productById.fkUser))
    
    //         })
    //         // let fkUser = 
    //         console.log((this.state.productById.fkUser))
    //         getUserById("1").then(list => {
    //             console.log(list)
    //             this.setState({ productSeller: list.data })
    //         })
    //     }
    
    //     componentDidMount() {
    //         this.getProd()
    //     }
    
    //     render() {

               

export function ProductPage(params) {
    return (
        new ProductPageClass()
    )
}


    {/* A Calça de algodão é a escolha certa para criar looks com muito estilo! Confeccionada em jeans color, a calça apresenta modelagem paper bag, a queridinha do momento! Perfeita para ocasiões especiais, encontros com os amigos e com o crush, aposte!
                                        <br />
                                        <br />
                                        Características: <br />
                                        Modelo paper bag <br />
                                        Cós elástico <br />
                                        Cós com passantes <br />
                                        Braguilha com zíper e botões <br />
                                        Bolsos frontais tipo faca <br />
                                        Bolsos posteriores <br />
                                        Barra simples <br />
                                        <br />
                                        <br />
                                        A cor do produto nas fotos reproduzidas com modelos, pode sofrer alteração em decorrência do uso do flash." */}
    // isAvailable={true}
    // description="Calça de algodão marrom"
    // src={stars}
    // score="4.99"
    // seller=" joaao"
    // price="47,00" 
    
    //                                 A Calça de algodão é a escolha certa para criar looks com muito estilo! Confeccionada em jeans color, a calça apresenta modelagem paper bag, a queridinha do momento! Perfeita para ocasiões especiais, encontros com os amigos e com o crush, aposte!
    
    //      Características: 
    //      Modelo paper bag 
    //      Cós elástico
    //      Cós com passantes 
    //      Braguilha com zíper e botões 
    //      Bolsos frontais tipo faca 
    //      Bolsos posteriores 
    //      Barra simples 
    
    
    // A cor do produto nas fotos reproduzidas com modelos, pode sofrer alteração em decorrência do uso do flash.
    
    // <SmallImage src={image2} onClick={() => { selectImage(image2)} } />
    // <SmallImage src={image3} onClick={() => { selectImage(image3)} }/>
    {/* <SmallImage src={image1} onClick={() => { selectImage(image1)} }/> */ }
    {/* <BuyCard/> */ }
    {/* <BigImage id={selected-image} src={image1} /> */ } -->

    <!-- // onClick={() => { selectImage('img-1', 'img-active', image1) }} 
// onClick={() => { selectImage('img-2', 'img-active', image2) }} 
// onClick={() => { selectImage('img-3', 'img-active', image3) }} 

var list = [];
    // if (!list.isEmpty) {
    //     for (var i = 0; i < list.length; i++) {
    //         list[i].classList.remove(classe);
    //     }
    // }

    // var element = document.getElementById(id);
    // element.classList.toggle(classe);
    // list.push(element) -->
