/* inicio banner principal  */
.container-main-banner{
    height: 500px;
    width: 100%;
}

.container-main-banner .container-img-banner{
    width: 50%;
    height: 100%;
    background: url("/public/images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-main-phrase {
    width: 50%;
    height: 100%;
    justify-content: end !important;
    background: #FFF1E4;
}
.container-main-banner .container-phrase{
    width: 67%;
    height: 100%;
    flex-direction: column !important;
    align-items: flex-start !important;
}

.container-main-banner .container-phrase h1 {
    font-size: 40px;
    font-weight: 600;
}
.container-main-banner .container-phrase p{
    padding: 20px 0;
}

.container-main-banner .container-phrase button {
    cursor: pointer;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 4px;
    color: #604D4D;
    background-color: #C9E891;
    font-size: 20px;
    font-weight: 400;
    
}
/* fim banner principal  */

/* inicio container padrão  */

.container-pattern .arrow {
    font-size: 70px;
    color: #C9E891;
}

.container-pattern {
    width: 100%;
    height: 600px;
    flex-direction: column !important;
}

.container-title-pattern p {
    font-size: 30px;
    color: #8F8F8F;
    padding: 0 25px;
}

.line-average{
    width: 200px;
    height: 1px;
    background-color: #8F8F8F;
}

.line-great{
    width: 1000px;
    height: 1px;
    background-color: #8F8F8F;
}
.container-cards-products {
    width: 80%;
    height: 400px;
}

/* fim container padrão  */


/* inicio container produtos  */
 .card-product {
    width: 210px;
    height: 325px;
    box-shadow: 2px 3px 5px 3px rgba(0, 0, 0, 0.1) ;
    border-radius: 10px;
    margin: 0 15px;
    background-color: #fff;
    flex-direction: column !important;
}
.card-product img {
    width: 150px;
}

.container-cards-sellers {
    width: 80%;
    height: 400px;
}

.container-evaluation-card {
    width: 100%;
    height: 20px;
}
.container-stars img{
    width: 15px;
    padding: 0 3px;
    
}

.container-note {
    color: #5E6366;
    padding: 0 10px;
}

.container-description-product {
    width: 100%;
    height: 100%;
    flex-direction: column !important;
}

.container-description-product .description {
    padding: 20px 40px 0;
    color: #19191D;
    font-size: 16px

}
.container-description-product .price {
    padding: 15px 40px 0;
    font-size: 24px;
    font-weight: 600;
}

.container-description-product button {
    cursor: pointer;
    margin: 4px 40px 0;
    background: #fff;
    color: #2264D1;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #9DC2FF;
    padding: 10px;

}

/* fim container produtos  */


/* inicio container vendedores  */
.container-sellers-pop {
    background-color: #C9E891;
}

.container-sellers-pop img {
    width: 180px;
    padding: 0 20px;
}

.container-title-sellers-pop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* fim container vendedores  */