.sub-menu{
    background-color: #FFE0DE;
    width: 100%;
    height: 60px;
}
.sub-menu ul {
    width: 67%;
    height: 100%;
}
.sub-menu ul li {
    width: 20%;
    list-style: none;
    display: flex;
    justify-content: start;
   
}

.sub-menu ul li a{
    text-decoration: none;
    color: #604D4D;
    font-weight: 600;
    padding: 0 10px;
    top: 0;
}

.sub-menu i{
    color: #604D4D;
}